# Ignore environment files
.env*
!.env.example

.cursor/rules/
.dependency-cruiser.js
config/token.json
config/service_account.json
config/credentials.json
eslint.config.mjs
node_modules
nodemon.log
bot/exploreStats.txt
testingCode/
.tmp.driveupload/
.tmp.drivedownload/
.dashboard/.env
cursor-rules.mdc
BOOST_SESSION_SUMMARY.md
LOGGER_CHEATSHEET.md
.gitignore
mapold/