# Ignore .env file
.env

.cursor/rules/
.dependency-cruiser.js
config/token.json
config/service_account.json
config/credentials.json
eslint.config.mjs
node_modules
nodemon.log
testingCode/
.tmp.driveupload/
.tmp.driveudownload/


# Deployment scripts (no longer needed)
# scripts/deploy.js
# railway.json
# scripts/deploy.template.js
